{% extends "base.html" %}
{% block content %}
<h2>About This Software</h2>
<p>
    This software is a web-based attendance management system developed for <strong>Rashtriya Raksha University (RRU) Gandhinagar gujarat and  all campus</strong>. Its primary goal is to provide a seamless and efficient way for students and teachers to manage and track attendance records.
</p>
<h3>Key Features</h3>
<ul>
    <li><strong>Secure Authentication:</strong> The system provides a secure login and registration process for both students and teachers, ensuring that all data is kept private and accessible only to authorized users.</li>
    <li><strong>Attendance Tracking:</strong> Teachers can easily mark the attendance of their students, while students can view their attendance history at any time.</li>
    <li><strong>Data Management:</strong> The system stores user and attendance data, making it easy to generate and view reports as needed.</li>
</ul>
<h3>Project Information</h3>
<p>
    This project was developed by <strong>Shivam Patel</strong>, a student of M.Sc. in Cyber Security and Digital Forensics from the 2025-27 batch at Rashtriya Raksha University, Lucknow Campus. He was motivated to build this software by his teacher, Assistant Professor <strong>Ashish Shukla </strong>. For more information, you can contact him at <a href="mailto:25mcsdf045@student.rru.ac.in">25mcsdf045@student.rru.ac.in</a>.
</p>
{% endblock %}